<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-2.5.xsd">

<!-- A définir -->
    <bean id="pantry" class="com.example.demo.models.FoodPantry">
        <constructor-arg value="90" type="int"/>
        <constructor-arg value="30" type="int"/>
        <constructor-arg value="Super pantry" type="java.lang.String"/>

        <constructor-arg value="45.13" type="float"/>
    </bean>

    <bean id="dev" class="com.example.demo.models.Developer">
        <property name="name" value="Paul"></property>
        <property name="yearXp" value="5"></property>
    </bean>
    <bean id="cp" class="com.example.demo.models.Developer">
        <property name="name" value="Romain"></property>
        <property name="yearXp" value="20"></property>
    </bean>

    <bean id="company" class="com.example.demo.models.Company">
        <property name="name" value="Rotor company"></property>
        <property name="cp" ref="cp"></property>
        <property name="dev" ref="dev"></property>
    </bean>

    <bean id="service" class="com.example.demo.services.Service" scope="prototype">
        <property name="message" value="Test message" ></property>
    </bean>

    <bean id="adresse" class="com.example.demo.models.Address" scope="prototype">
        <property name="adresse" value="Rue du lavoir" ></property>
    </bean>

    <bean id="customer" class="com.example.demo.models.Customer" autowire="byName">
        <property name="nom" value="Agence de Formation"/>
    </bean>

    <bean id="kungfu" class="com.example.demo.models.Kungfu">
        <property name="name" value="Super kungfu"/>
    </bean>

    <bean id="panda" class="com.example.demo.models.Panda" autowire="byName">
    </bean>

    <bean id="person" class="com.example.demo.models.Person">
        <constructor-arg value="Super" type="java.lang.String"/>
        <constructor-arg value="Client" type="java.lang.String"/>
        <constructor-arg value="superclient@panda.com" type="java.lang.String"/>
    </bean>

    <bean id="client" class="com.example.demo.models.Client" autowire="byName">
        <constructor-arg value="action" type="java.lang.String"/>
        <constructor-arg value="7" type="int"/>

    </bean>

</beans>
